html,body{
    padding:0%;
    margin:0 auto;
    font-family: 'Poppins', sans-serif;
    background:black;
    color:white;
    padding: 0;
    margin: 0 auto;
    height:100vh;
    width:100%;
    overflow-x:hidden;
    scroll-behavior: smooth;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:5rem;
    padding:0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
    backdrop-filter: blur(10px);
    z-index: 1000;
    background: black;
    scroll-margin-top: 5rem;

}
.header-btn-container {
    flex: 1;
    display:flex;
    justify-content: flex-end;
}
.header-button{
    margin-right: 0;
    background-color: #ff5c33;
    border:none;
    border-radius: 20px;
    padding:8px 20px;
    transition:0.5s ease;
    color:#ffffff;
    font-size: 1rem;
}
.logo{
    font-size: 28px;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-right: 0;
    flex: 1;
}
.logo span{
    color:#ff4500;
}
.logo:hover{
transform: scale(1.1);

}
nav {
    flex: 2;
    display:flex;
    justify-content: center;
}
.navbar a{
    font-size: 1.1rem;
    color: white;
    margin-left: 35px;
    transition: 0.3s ease;
    text-decoration: none;
}
.navbar a:hover, .navbar a.active{
    color:#ff5c33;
    border-bottom: 2px solid #ff5c33;
}
header button{
    margin-right: 14rem;
    background-color:#ff5c33;
    border: none;
    border-radius: 20px;
    padding:8px 20px;
    transition: 0.5s ease;
}
header button{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    width: 150px;
}
header button:hover{
    background-color: #ff5c33;
    cursor: pointer;
}
.hero-section{
    display: flex;
    max-width: 1260px;
    justify-content: space-between;
    gap: 50px;
    min-height: 90vh;
    padding: 0 10%;
    max-width: 1400px;
    align-items: center;

}
.hero-text h1 span{
    color:#ff5c33;

}
.hero-text h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;

}
.hero-text h4{
    font-size:1.2rem;
    color: var(#ff5c33);
    margin-bottom: 2px;

}
.hero-text h1{
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 5px;
}
.hero-text p{
    font-size: 1rem;
    margin-bottom: 30px;

}
.hero-section button {

    background-color: #ff5c33;
    border-radius: 20px;
    border: none;
    padding:10px 10px;
    color:white;
    font-size: 1rem;
    margin-bottom:15px;
    transition: transform 0.3s ease;

}
.hero-section button:hover{
    background-color: #ff5c337a;
    cursor:pointer;
    transform: scale(1.05);
}
.hero-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 0;
}

.Hero-image{
    flex: 1;
    width: 40%;
    display:flex;
    justify-content: center;
}
.Hero-image img{
    width: 350px;
    height:350px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 50px #ff5c33;
    border: 3px solid #ff5c33;
    transition:0.4s ease-in-out;
    margin-left: 0;
    max-width: 100%;
    object-fit: cover;
}
.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    border-radius: 50%;
    width:45px;
    height: 45px;
    padding: 10px 2px 10px 2px;
    text-align: center;
    margin:0 10px;
    border: 2px solid #ff5c33; 
    transition: 0.5s ease;
    font-size: 20px;
    text-decoration: none;
}
.social-icons a:hover{
    background-color: #ff5c33;
    color: white;
    box-shadow: 0 0 20px #ff5c33;
    transform: scale(1.1);
}
@keyframes fadeIn{
    from{
        transform: translateY(40px);
        opacity:1;

    }
    
}
@keyframes fadeInTop{
    from{
        transform: translateY(0);
        opacity: 1;

    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}
@keyframes sideInRight{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes backgroundZoom{
    from{
        background-size: 80%;
    }
}

.hero-section button{
    animation:fadeIn 1.8s ease-out forwards;
    opacity: 1;
    animation-delay: 0.8s;
}
.social-icons{
    animation:fadeIn 2s ease-out forwards;
    opacity:1;
    animation-delay: 1s;
}
header nav a,
.logo,
header button{
    animation: fadeInTop 1s ease-in forwards;
    opacity:1;
}
body{
    animation: backgroundZoom 3s ease-in forwards;
}
.about-me{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    z-index: 1;
    background: black;
    padding-bottom: 20px;
    padding-top: 80px 10%;
    margin-top: 0;
    min-height: 100vh;

}
.about-me h2{
    font-size: 45px;
    text-align:center;
    margin-bottom: 40px;
    margin-top: 20px;

}
 .About-image img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ff5c33;
    box-shadow: 0 0 50px #ff5c33;
}
@keyframes zoomin{
    from{
        transform:scale(0);
    }
    to{
        transform:scale(0);
        opacity: 1;
    }
}
.about-image{
    position: relative;
    width: 15rem;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:1.6s zoomIn ease-out forwards;
    animation-delay: .2s;
    opacity: 0;
    margin-bottom: 30px;

}

.about-me h2 span{
    color:#ff5c33
}
.about-me h2{
    font-size: 45px;
    animation: fadeInTop ;
    margin-bottom: 40px;
}
.about-content{
text-align: center;
max-width: 800px;
margin: 0 auto;
}
.about-content h3{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.about-content p{
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.6;
}
.about-content button{
    display: inline-block;
    width: 150px;
    border-radius: 25px;
    background-color: #ff5c33;
    border:none;
    transition: .5s ease;
    animation: fadeIn 1.5s ease-out forwards;
    opacity:1;
    animation-delay: .6s;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.about-content button a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 100;
}
.about-content button:hover{
    background-color: #ff5c33;
    cursor:pointer;
}
.my-skills{
    position: relative;
    width: 100%;
    padding-bottom:400px;
    z-index: -1;
}
.My-skills h1{
    text-align:center;
    font-size: 2rem;
}
.My-skills h1 span{
    color:#ff5c33;
}
.skills-wrapper{
    padding: 20px 0;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;

}
.skills-wrapper .bar{
    margin:25px 0;
    width: 100%;
}
.skills-wrapper .bar .bar-name{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.skills-wrapper .bar .bar-name span{
    letter-spacing: 2px;

}
.skills-wrapper .bar .progress-bar{
    width: 100%;
    height: 12px;
    background-color: #333;
    border-radius:10px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    
}
.skills-wrapper .bar .progress-bar span{
    height: 100%;
    background-color: #ff5c33;
    display:block;
    border-radius: 10px;
    width: 0;
    animation: loadbar 2s ease-out forwards;
    box-shadow:0 0 10px #ff5c33;
}
.skills-wrapper .bar .progress-bar span.html{
    width:90%;
    transition: 2s ease-out;
}
.skills-wrapper .bar .progress-bar span.css{
    width:85%;
    transition: 2s ease-out;
}
.skills-wrapper .bar .progress-bar span.python{
    width: 80%;
    transition: 2s ease-out;
}
.skills-wrapper .bar .progress-bar span.javascript{
    width: 75%;
    transition: 2s ease-out;
}
.skills-wrapper .bar .progress-bar span.java{
    width:70%;
    transition: 2s ease-out;
}
@keyframes loadbar {
    from {width: 0;}
    to {

    }
}
.service-section{
    background-color: black;
    padding: 60px 2% 40px 2%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.6rem;
    animation: fadeIn 2s ease-out forwards;
    opacity: 1;
    animation-delay: 1s;
    display: block;
    width: 100%;
}
.service-section h2 span{
    color:#ff5c33;

}
.service-section h2{
    font-size: 45px;
    animation: fadeInTop ;
    margin-bottom: 40px;
    align-items: center;
}
.service-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 20px 0%;
    max-width: 1200px;
    margin: 0 auto;
}
.service-box{
    flex:1;
    max-width: 350px;
    min-width:250px;
    background-color: #ff5c33;
    padding: 1.5rem 1rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px;
    transition: 0.4s ease-in-out;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;


}
.service-box:hover{
    border: .2rem solid #ff5c33;
    background-color: black;
    transform:translateY(-10px);
    cursor:pointer;

}
.service-box:hover button:hover{
    background-color: #ff5c33;
    cursor: pointer;

}
.service-box h3{
    font-size: 1.1rem;
}
.service-box p{
    font-size: 0.9rem;
    margin:5px 0;
    line-height: 1.4;
}
.service-box button{
    border-radius: 20px;
    border: none;
    background-color: #ff5c33;
    width:100%;
    padding: 6px 15px;
    margin-top: auto;
    animation: fadeIn 2s ease-out forwards;
    opacity: 1;
    animation-delay: 1s
}
.service-box button a{
    text-decoration:none;
    color:white;
    font-size: 1rem;

}
.service-container .service-box svg{
    animation: fadeIn ease-out forwards;
    opacity: 0;
    animation-delay: 1s;
}
.portfolio-section h2{
    font-size: 2rem;
    text-align:center;
    letter-spacing: 1px;
}
.portfolio-section h2 span{
    color:#ff5c33;
}
.project-container-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-container-2{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: -20px;
    margin-bottom: -20px;
}
.project-box img{
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
    transition: .5s ease;
}
.project-box{
    position:relative;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    border:2px solid #ff5c33;
    border-radius: 25px;
}
.project-content{
    position:absolute;
    bottom: 0;
    left:0;
    right: 0;
    background-color: black;
    padding:20px;
    transform: translateY(100%);
    transition: .5s ease;
}
.project-content:hover .project-content{
    transform: translateY(0);

}
.project-box:hover{
    box-shadow: 0 0 25px #ff5c33
                0 0 50px #ff5c33;
}
.project-box:hover .project-content {
    transform: translateY(0);
}
.project-content h2{
    font-size: 20px;
    margin-top: 0;
}
.project-content p{
    margin: 10px 0;
}
.project-content button{
    background-color: #ff5c33;
    color: white;
    padding: 8px 20px;
    border:none;
    border-radius: 20px;
}
.project-content button a{
    text-decoration: none;
    color:#ffffff;
}
.contact{
    background-color: black;
    padding-bottom: 10px;
}
.contact h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    margin-bottom: -10px;
    letter-spacing: 2px;
}
.contact h2 span{
    color:#ff5c33;
}
.contact form{
    max-width: 55rem;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px 0;
}
.contact form .input-box input,
.contact form textarea{
width: 100%;
height:auto;
padding:2px;
font-size: 1rem;
background-color: white;
border: 2px solid #ff5c33;
margin-right: 0 auto;
max-width: 1200px;
margin-top: 20px;
}
.contact-btn{
    background-color: #ff5c33;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    margin-top:2rem;
}
footer{
    background-color: black;
    padding: 8px;
    margin-top: 12px;
    display: inline;
    text-align: center;
}
footer p{
    margin-bottom: 20px;
    margin-top: -2px;
}
@media screen and (max-width: 1200px){
    .service-container .service-box{
        width: 250px;
    }
}
@media screen and(max-width:992px){

}